apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: ghcr-secret   # Needed if repo is private
      containers:
        - name: frontend
          image: ghcr.io/ranjit-08/music-app/frontend:97a6ce0
          imagePullPolicy: Always
          ports:
            - containerPort: 80
